module.exports = {
  clientId: "781699260910665788", // Feel free to make your own app, look under the rich presense tab to upload your own icons
  calendars: [
    "https://example.com/calendar.ical", // Put a list of iCal files you want to monitor
  ],
  timezone: "America/New_York", // Set this to your timezone (TZ database name, https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)
  refreshInterval: 600000, // How often you want to refresh the Discord RPC in milliseconds, defauly 600000 (10 minutes)
};
